:root {
  --dark-shade-100: #1f2041;
  --dark-shade-75: rgba(31, 32, 65, 0.75);
  --dark-shade-50: rgba(31, 32, 65, 0.5);
  --dark-shade-25: rgba(31, 32, 65, 0.25);
  --dark-shade-5: rgba(31, 32, 65, 0.05);
  --purple: #bc9cff;
  --green: #6fcf97;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

@font-face {
  font-family: 'Conv_Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: local('☺'),
    url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf')
      format('truetype'),
    url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: local('☺'),
    url('../assets/fonts/Montserrat-Regular/Montserrat-Regular.woff')
      format('woff'),
    url('../assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf')
      format('truetype'),
    url('../assets/fonts/Montserrat-Regular/Montserrat-Regular.svg')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 1853px;
  font-family: Conv_Montserrat-Regular;
  font-size: 14px;
}

img {
  position: absolute;
  left: 30px;
  top: 30px;
}

div {
  position: absolute;
}

.left {
  left: 141px;
}

.text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}

label,
.field-desc {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}

.field-desc {
  color: var(--dark-shade-50);
  margin-top: -3px;
}

label {
  font-family: 'Conv_Montserrat-Bold';
  margin-bottom: 5px;
}

input,
select,
option {
  width: 320px;
  height: 44px;
  border: 1px solid var(--dark-shade-25);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  color: var(--dark-shade-75);
  font-family: Conv_Montserrat-Regular;
}

.mail {
  top: 143px;
}

.mail input {
  line-height: 18px;
  color: var(--dark-shade-25);
}

.active {
  top: 227.44px;
}

.active input {
  border: 1px solid var(--dark-shade-50);
  color: var(--dark-shade-75);
}

.dropdown {
  top: 311.44px;
}

.dropdown .select-wrapper {
  position: relative;
}

.dropdown select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* to gain removal of the arrow for lower IE versions*/
.dropdown select::-ms-expand {
  display: none;
}

.select-wrapper::before,
.select-wrapper::after {
  content: '';
  position: absolute;
  bottom: 20px;
  width: 9px;
  height: 2px;
  background-color: var(--dark-shade-50);
}

.select-wrapper::before {
  right: 21px;
  transform: rotate(45deg);
}

.select-wrapper::after {
  right: 16px;
  transform: rotate(-45deg);
}

select:focus {
  border-color: var(--dark-shade-50);
  border-radius: 2px;
}

.select-wrapper:focus-within:before,
.select-wrapper:focus-within:after {
  background-color: var(--dark-shade-75);
}

.masked {
  top: 398px;
}

input[type='date'] {
  text-transform: uppercase;
}

.masked input {
  color: var(--dark-shade-25);
}

input[type='date']:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type='date']:focus:before,
input[type='date']:valid:before {
  content: '';
}

.date-drop-1,
.date-drop-2 {
  top: 502px;
  width: 150px;
}

.date-drop-2 {
  margin-left: 170px;
}

.date-drop-1 input,
.date-drop-2 input {
  line-height: 18px;
}

.filter-date {
  top: 607px;
  width: 266px;
}
